
#topbar {
	width:100%;
	height: emCalc(50px); 
	position:fixed; 
	z-index: 100;
	@include background(linear-gradient(top, 
		$color-topbar-start, 
		$color-topbar-end));
	} 

	#app-logo {
		width: emCalc(180px);
		}

	#user-menu {
		width: emCalc(250px);
		float: right;
		color: $lightblue-bold;
		line-height: emCalc(45px);
		text-align:right;
		padding-right:emCalc(20px);
		}

	#user-menu img {
		margin-left:emCalc(15px);
		border: solid 1px #424a68;
		}

	.topbar-decoline {
	 	display:block;
		border-bottom:solid 1px $darkblue-regular;
		height:5px;
		@include background(linear-gradient(left, 
			$color-decoline-start, 
			$color-decoline-end));
		}
