/*-----------------------------------------------------------------*/
/*------------------------- MAIN CONTAINER ------------------------*/
/*-----------------------------------------------------------------*/

#main-container { 
	width:100%;
	height:100%;
	overflow:auto;
	background: $lightblue-medium;
	}
 
/*-----------------------------------------------------------------*/
/*----------------------------- TOP BAR ---------------------------*/
/*-----------------------------------------------------------------*/

@import "modules/app-layout-topbar";

/*-----------------------------------------------------------------*/
/*-------------------------- NAVIGATION ---------------------------*/
/*-----------------------------------------------------------------*/

@import "modules/app-layout-navigation"; 

/*-----------------------------------------------------------------*/
/*----------------------------- CONTENT ---------------------------*/
/*-----------------------------------------------------------------*/

@import "modules/app-layout-content";

/*------------------- CONTENT ITEM LAYOUT --------------------*/

@import "modules/app-layout-content-item";
